@import './adoptions.css';
@import './users.css';
@import './admin-dogs.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    color: #1f2937;
}