@import './adoptions.css';
@import './users.css';
@import './admin-dogs.css';
@import './dogs.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('../images/Background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #1f2937;
}